<div class="container">
	<h1>Test case by Patrick Tørresvold</h1>

	<h2>Question 1</h2>
	<p>Seeing that my only prior experience with using map libraries has been Gmap3, it would be a rather obvious choice
		for me, though with some limitations regarding some of the features that OpenLayers and LeafletJS provide.</p>

	<p>
		I’m quite familiar with Angular, and I already had set up a development environment for it on my personal
		computer, so I would rather use that as a base framework for creating this small app. Therefore I decided to use
		OpenLayers to solve this task, as it seemed like it had a quite newly updated NPM package available, which made
		it quite easy to install in my project and to start using.
	</p>

	<h2>Question 2</h2>
	<div id="map"></div>
</div>